# Dependency directories
node_modules/

# Cypress artifacts
cypress/screenshots/
cypress/videos/
cypress/downloads/

# System files
.DS_Store
.env
*.log

# Postman local files
postman/workspace.json
postman/local-data/

# Environment variables
*.env

